#layout-sidenav {
    padding: 0 0 10px 0;
    ul {
        li {
            a {
                color: darken(@color-sidenav, 10%);
                i {
                    color: @color-sidenav;
                }
            }
            &.active, &:hover {
                background-color: @color-sidenav-group-background;
                a, a > i {
                    color: @color-sidenav-group-text;
                }
            }
        }
    }
}
