@color-primary: #e74c3c;

// MAIN NAVIGATION
@color-navbar: @color-primary;
@color-navbar-background: @color-navbar;
@color-navbar-text-color: #ffffff;
@color-navbar-text-color-hover: @color-navbar-text-color;
@color-navbar-hover: darken(@color-navbar, 10%);
@color-navbar-hover-color: darken(@color-navbar-hover, 10%);
@color-navbar-border: #ddd;
@color-navbar-highlight-background: @color-navbar-hover;
@color-navbar-highlight-text: darken(@color-navbar-highlight-background, 20%);

// ACCOUNT MENU (NAV TOP RIGHT)
@color-accountmenu: #fff;
@color-accountmenu-text-color: darken(@color-accountmenu, 40%);

// SIDENAV
@color-sidenav: #ccc;
@color-sidenav-hover: darken(@color-sidenav, 20%);
@color-sidenav-icon: @color-primary;
@color-sidenav-background: #fff;
@color-sidenav-background-hover: darken(@color-sidenav-background, 15%);
@color-sidenav-group-background: @color-primary;
@color-sidenav-group-header: darken(@color-sidenav, 20%);
@color-sidenav-group-background-collapsed: darken(@color-sidenav-group-background, 10%);
@color-sidenav-group-text: #fff;
@color-sidenav-group-icon: @color-primary;
@color-sidenav-group-icon-collapsed: @color-primary;

@color-fancy-form-label: rgba(255, 255, 255, .7);

@color-fancy-master-tabs-bg: #d35400;
@color-fancy-master-tabs-active-text: #ffffff;
@color-fancy-master-tabs-inactive-text: rgba(255, 255, 255, .35);
@color-fancy-master-panel-bg: #d35400;

@color-fancy-secondary-tabs-bg: #475354;
@color-fancy-secondary-tabs-active-text: #ffffff;
@color-fancy-secondary-tabs-inactive-text: #919898;

@color-fancy-primary-tabs-bg: #7f8c8d;
@color-fancy-primary-tabs-inactive-text: #95a5a6;
@color-fancy-primary-tabs-active-text: #808c8d;
@color-fancy-primary-tabs-active-bg: #fafafa;
@color-fancy-primary-tabs-inactive-bg: #d5d9d8;

@color-fancy-form-tabless-fields-bg: #e67e22;
@color-fancy-form-label: rgba(255, 255, 255, .5);
@color-fancy-form-text: #ffffff;
@color-fancy-form-text-selection: #d35400;
@color-fancy-form-placeholder: #f4c69e;
@color-fancy-form-inactive-tab: #b9530f;

@import "more-or-less/_more";