.fancy-layout {
  .form-tabless-fields {
    label {
      color: $color-fancy-form-label;
    }
  }

  .form-buttons {
    .btn {
      color: $color-fancy-master-tabs-active-text;
      opacity: 0.7;
    }
  }
}

.control-breadcrumb+.layout-row>.fancy-layout {
  margin-bottom: 0;
}