.layout {
  #layout-mainmenu.navbar {
    border-bottom: 1px solid $color-navbar-border;
    background-color: $color-navbar-background;
    ul {
      li {
        //padding: 0 15px;
        margin-right: 0;
        //text-align: center;
        a {
          font-weight: 400;
          text-transform: uppercase;
          font-size: 1.3rem;
          color: $color-navbar-text-color;
          //> .nav-icon, >.nav-label {
          //  display: block;
          //  width: auto;
          //}
          //i:not(.svg-replace) {
          //  display: block;
          //  padding-bottom: 20px;
          //  margin: 0;
          //  font-size: 2rem;
          //  color: opacify($color-navbar-text-color, 0.7);
          //}
        }

        &.preview {
          a {
            i {
              padding-bottom: 0;
            }
          }
        }

        &.account {
          a {
            padding: 20px;
          }
        }

        &.active,
        &:hover {
          background-color: $color-navbar-hover;
          a {
            color: $color-navbar-text-color-hover;
            i {
              color: $color-navbar-text-color-hover;
            }
          }
        }

        &.highlight {
          background-color: $color-navbar-highlight-background;
          > a {
            color: $color-navbar-highlight-text !important;
          }
        }

        &.active {
          a {
            //padding-top: 0.4rem;
            color: $color-navbar-hover-color !important;
            i {
              font-size: 3rem;
              color: $color-navbar-hover-color !important;
            }
          }
        }

        .mainmenu-accountmenu {
          background-color: $color-accountmenu;
          li {
            border-bottom: 1px solid transparent;
            > a {
              color: $color-accountmenu-text-color !important;
            }
            &:hover {
              border-bottom-color: darken($color-accountmenu, 15%);
              background-color: darken($color-accountmenu, 15%) !important;
              > a {
                color: darken($color-accountmenu-text-color, 15%) !important;
              }
            }

            &.divider {
              background-color: darken($color-accountmenu, 15%);
              & + li {
                background-color: darken($color-accountmenu, 30%);
                > a {
                  color: darken($color-accountmenu-text-color, 15%) !important;
                }
                &:hover {
                  border-bottom-color: transparent;
                  background-color: darken($color-accountmenu, 40%) !important;
                  a {
                    color: darken($color-accountmenu-text-color, 30%) !important;
                  }
                }
              }
            }
          }

          &:after {
            border-bottom-color: $color-accountmenu;
          }
        }
      }
    }
    &.navbar-mode-inline {
      ul.mainmenu-nav {
        li {
          a {
            padding: 15px;
          }
        }
      }
    }
  }
}