.sidenav-tree {
  ul.top-level {
    & > li {
      & > div.group {
        /*border-top: 1px solid darken($color-sidenav-background, 20%);*/
        h3 {
          color: $color-sidenav-group-text;
          background-color: $color-sidenav-group-background;
          &:before {
            color: $color-sidenav-group-text;
          }
          &:after {
            border-top-color: $color-sidenav-group-background;
          }
        }
      }

      & > ul {
        li {
          &.active a span.header,
          &.active a span.description,
          &.active,
          &:hover {
            background-color: $color-sidenav-background-hover;
            a {
              background-color: transparent;
              color: $color-sidenav-hover;
              span.header,
              span.description,
              i{
                color: $color-sidenav-hover;
              }
            }
          }

          a,
          a span.header,
          a span.description {
            color: $color-sidenav;
          }

          a {
            background-color: $color-sidenav-background;
            border-bottom-color: darken($color-sidenav-background, 3%);
            opacity: 0.8;
            i {
              color: $color-sidenav-icon;
            }
          }
        }
      }
    }

    & > li[data-status="collapsed"] {
      & > div.group {
        h3 {
          background-color: $color-sidenav-group-background-collapsed;
          &:before {
            color: $color-sidenav-group-icon-collapsed;
          }
        }
      }

      & > div.group h3,
      & > ul li a span.header {
        color: $color-sidenav-group-header;
      }
    }

    & > li[data-status="expanded"] {
      & > div.group {
        h3 {
          color: $color-sidenav-group-text;
          background-color: $color-sidenav-group-background;
          &:before {
            color: $color-sidenav-group-icon;
          }
        }
      }
    }
  }
}