$color-primary: #e74c3c !default;

// MAIN NAVIGATION
$color-navbar: $color-primary !default;
$color-navbar-background: $color-navbar !default;
$color-navbar-text-color: #ffffff !default;
$color-navbar-text-color-hover: $color-navbar-text-color !default;
$color-navbar-hover: darken($color-navbar, 10%) !default;
$color-navbar-hover-color: darken($color-navbar-hover, 10%) !default;
$color-navbar-border: #ddd !default;
$color-navbar-highlight-background: $color-navbar-hover !default;
$color-navbar-highlight-text: darken($color-navbar-highlight-background, 20%) !default;

// ACCOUNT MENU (NAV TOP RIGHT)
$color-accountmenu: #fff !default;
$color-accountmenu-text-color: darken($color-accountmenu, 40%) !default;

// SIDENAV
$color-sidenav: #ccc !default;
$color-sidenav-hover: darken($color-sidenav, 20%) !default;
$color-sidenav-icon: $color-primary !default;
$color-sidenav-background: #fff !default;
$color-sidenav-background-hover: darken($color-sidenav-background, 15%) !default;
$color-sidenav-group-background: $color-primary !default;
$color-sidenav-group-header: darken($color-sidenav, 20%) !default;
$color-sidenav-group-background-collapsed: darken($color-sidenav-group-background, 10%) !default;
$color-sidenav-group-text: #fff !default;
$color-sidenav-group-icon: $color-primary !default;
$color-sidenav-group-icon-collapsed: $color-primary !default;

$color-fancy-form-label: rgba(255, 255, 255, .7) !default;

$color-fancy-master-tabs-bg: #d35400 !default;
$color-fancy-master-tabs-active-text: #ffffff !default;
$color-fancy-master-tabs-inactive-text: rgba(255, 255, 255, .35) !default;
$color-fancy-master-panel-bg: #d35400 !default;

$color-fancy-secondary-tabs-bg: #475354 !default;
$color-fancy-secondary-tabs-active-text: #ffffff !default;
$color-fancy-secondary-tabs-inactive-text: #919898 !default;

$color-fancy-primary-tabs-bg: #7f8c8d !default;
$color-fancy-primary-tabs-inactive-text: #95a5a6 !default;
$color-fancy-primary-tabs-active-text: #808c8d !default;
$color-fancy-primary-tabs-active-bg: #fafafa !default;
$color-fancy-primary-tabs-inactive-bg: #d5d9d8 !default;

$color-fancy-form-tabless-fields-bg: #e67e22 !default;
$color-fancy-form-label: rgba(255, 255, 255, .5) !default;
$color-fancy-form-text: #ffffff !default;
$color-fancy-form-text-selection: #d35400 !default;
$color-fancy-form-placeholder: #f4c69e !default;
$color-fancy-form-inactive-tab: #b9530f !default;
