@import "../../imports/variables";

@color-primary: #AA0055;

@color-navbar: #FFF;
@color-navbar-background: #d4d4d4;
@color-navbar-text-color: #747474;
@color-navbar-text-color-hover: @color-navbar-background;
@color-navbar-hover: @color-primary;
@color-navbar-hover-color: @color-navbar-background;
@color-navbar-highlight-background: @color-navbar-background;
@color-navbar-highlight-text: @color-navbar-text-color;
@color-navbar-border: #ddd;

@color-accountmenu: #fff;
@color-accountmenu-text-color: darken(@color-accountmenu, 40%);

@color-sidenav: #FFF;
@color-sidenav-icon: @color-navbar;
@color-sidenav-hover: @color-primary;
@color-sidenav-background: #747474;
@color-sidenav-background-hover: #DEDEDE;

@color-sidenav-group-background: @color-primary;
@color-sidenav-group-background-collapsed: #343434;
@color-sidenav-group-text: @color-sidenav;
@color-sidenav-group-icon: @color-sidenav;
@color-sidenav-group-icon-collapsed: @color-primary;

@color-fancy-form-label: rgba(255, 255, 255, 0.7);

@import "../../base";