@import "../../imports/variables";

@color-primary: #e74c3c;

@color-navbar: #e74c3c;
@color-navbar-text-color: #ffffff;
@color-navbar-hover: darken(@color-navbar, 10%);
@color-navbar-border: #ddd;

@color-accountmenu: #fff;
@color-accountmenu-text-color: darken(@color-accountmenu, 40%);

@color-sidenav-background: #fff;
@color-sidenav: darken(@color-sidenav-background, 60%);

@color-fancy-form-label: rgba(255, 255, 255, 0.7);

@import "../../base";