@import "../../imports/variables";

@color-primary: #7CD8A9;

@color-navbar: #FFF;
@color-navbar-background: #FFF;
@color-navbar-text-color: #8b8b8b;
@color-navbar-hover: #F7F7F7;
@color-navbar-hover-color: darken(@color-navbar-text-color, 20%);
@color-navbar-highlight-background: @color-navbar-background;
@color-navbar-highlight-text: @color-navbar-text-color;
@color-navbar-border: #ddd;

@color-accountmenu: #fff;
@color-accountmenu-text-color: darken(@color-accountmenu, 40%);

@color-sidenav: #FFF;
@color-sidenav-icon: @color-navbar;
@color-sidenav-hover: @color-primary;
@color-sidenav-background: #32323A;
@color-sidenav-background-hover: #29282E;
@color-sidenav-group-background: darken(@color-sidenav-background-hover, 3%);
@color-sidenav-group-background-collapsed: darken(@color-sidenav-background-hover, 3%);
@color-sidenav-group-text: #fff;

@color-fancy-form-label: rgba(255, 255, 255, 0.7);

@import "../../base";