@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

.sidenav-tree,
#layout-sidenav {
  border-right: 1px solid #ddd;
}

@import "imports/sidenav-tree";
@import "imports/layout-navbar";

.control-scrollpanel {
  background-color: #f7f7f7;
}

.responsive-sidebar .form-sidebar,
#layout-side-panel {
  border-left: 1px solid #ddd;
}

@import "imports/fancy-layout";