@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
.sidenav-tree,
#layout-sidenav {
  border-right: 1px solid #ddd; }

.sidenav-tree ul.top-level > li > div.group {
  /*border-top: 1px solid darken($color-sidenav-background, 20%);*/ }
  .sidenav-tree ul.top-level > li > div.group h3 {
    color: #fff;
    background-color: #e74c3c; }
    .sidenav-tree ul.top-level > li > div.group h3:before {
      color: #fff; }
    .sidenav-tree ul.top-level > li > div.group h3:after {
      border-top-color: #e74c3c; }
.sidenav-tree ul.top-level > li > ul li.active a span.header, .sidenav-tree ul.top-level > li > ul li.active a span.description, .sidenav-tree ul.top-level > li > ul li.active, .sidenav-tree ul.top-level > li > ul li:hover {
  background-color: #d9d9d9; }
  .sidenav-tree ul.top-level > li > ul li.active a span.header a, .sidenav-tree ul.top-level > li > ul li.active a span.description a, .sidenav-tree ul.top-level > li > ul li.active a, .sidenav-tree ul.top-level > li > ul li:hover a {
    background-color: transparent;
    color: #333333; }
    .sidenav-tree ul.top-level > li > ul li.active a span.header a span.header,
    .sidenav-tree ul.top-level > li > ul li.active a span.header a span.description,
    .sidenav-tree ul.top-level > li > ul li.active a span.header a i, .sidenav-tree ul.top-level > li > ul li.active a span.description a span.header,
    .sidenav-tree ul.top-level > li > ul li.active a span.description a span.description,
    .sidenav-tree ul.top-level > li > ul li.active a span.description a i, .sidenav-tree ul.top-level > li > ul li.active a span.header,
    .sidenav-tree ul.top-level > li > ul li.active a span.description,
    .sidenav-tree ul.top-level > li > ul li.active a i, .sidenav-tree ul.top-level > li > ul li:hover a span.header,
    .sidenav-tree ul.top-level > li > ul li:hover a span.description,
    .sidenav-tree ul.top-level > li > ul li:hover a i {
      color: #333333; }
.sidenav-tree ul.top-level > li > ul li a,
.sidenav-tree ul.top-level > li > ul li a span.header,
.sidenav-tree ul.top-level > li > ul li a span.description {
  color: #666666; }
.sidenav-tree ul.top-level > li > ul li a {
  background-color: #fff;
  border-bottom-color: #f7f7f7;
  opacity: 0.8; }
  .sidenav-tree ul.top-level > li > ul li a i {
    color: #e74c3c; }
.sidenav-tree ul.top-level > li[data-status="collapsed"] > div.group h3 {
  background-color: #d62c1a; }
  .sidenav-tree ul.top-level > li[data-status="collapsed"] > div.group h3:before {
    color: #e74c3c; }
.sidenav-tree ul.top-level > li[data-status="collapsed"] > div.group h3, .sidenav-tree ul.top-level > li[data-status="collapsed"] > ul li a span.header {
  color: #333333; }
.sidenav-tree ul.top-level > li[data-status="expanded"] > div.group h3 {
  color: #fff;
  background-color: #e74c3c; }
  .sidenav-tree ul.top-level > li[data-status="expanded"] > div.group h3:before {
    color: #e74c3c; }

.layout #layout-mainmenu.navbar {
  border-bottom: 1px solid #ddd;
  background-color: #e74c3c; }
  .layout #layout-mainmenu.navbar ul li {
    margin-right: 0; }
    .layout #layout-mainmenu.navbar ul li a {
      font-weight: 400;
      text-transform: uppercase;
      font-size: 1.3rem;
      color: #ffffff; }
    .layout #layout-mainmenu.navbar ul li.preview a i {
      padding-bottom: 0; }
    .layout #layout-mainmenu.navbar ul li.account a {
      padding: 20px; }
    .layout #layout-mainmenu.navbar ul li.active, .layout #layout-mainmenu.navbar ul li:hover {
      background-color: #d62c1a; }
      .layout #layout-mainmenu.navbar ul li.active a, .layout #layout-mainmenu.navbar ul li:hover a {
        color: #ffffff; }
        .layout #layout-mainmenu.navbar ul li.active a i, .layout #layout-mainmenu.navbar ul li:hover a i {
          color: #ffffff; }
    .layout #layout-mainmenu.navbar ul li.highlight {
      background-color: #d62c1a; }
      .layout #layout-mainmenu.navbar ul li.highlight > a {
        color: #7b190f !important; }
    .layout #layout-mainmenu.navbar ul li.active a {
      color: #a82315 !important; }
      .layout #layout-mainmenu.navbar ul li.active a i {
        font-size: 3rem;
        color: #a82315 !important; }
    .layout #layout-mainmenu.navbar ul li .mainmenu-accountmenu {
      background-color: #fff; }
      .layout #layout-mainmenu.navbar ul li .mainmenu-accountmenu li {
        border-bottom: 1px solid transparent; }
        .layout #layout-mainmenu.navbar ul li .mainmenu-accountmenu li > a {
          color: #999999 !important; }
        .layout #layout-mainmenu.navbar ul li .mainmenu-accountmenu li:hover {
          border-bottom-color: #d9d9d9;
          background-color: #d9d9d9 !important; }
          .layout #layout-mainmenu.navbar ul li .mainmenu-accountmenu li:hover > a {
            color: #737373 !important; }
        .layout #layout-mainmenu.navbar ul li .mainmenu-accountmenu li.divider {
          background-color: #d9d9d9; }
          .layout #layout-mainmenu.navbar ul li .mainmenu-accountmenu li.divider + li {
            background-color: #b3b3b3; }
            .layout #layout-mainmenu.navbar ul li .mainmenu-accountmenu li.divider + li > a {
              color: #737373 !important; }
            .layout #layout-mainmenu.navbar ul li .mainmenu-accountmenu li.divider + li:hover {
              border-bottom-color: transparent;
              background-color: #999999 !important; }
              .layout #layout-mainmenu.navbar ul li .mainmenu-accountmenu li.divider + li:hover a {
                color: #4d4d4d !important; }
      .layout #layout-mainmenu.navbar ul li .mainmenu-accountmenu:after {
        border-bottom-color: #fff; }
  .layout #layout-mainmenu.navbar.navbar-mode-inline ul.mainmenu-nav li a {
    padding: 15px; }

.control-scrollpanel {
  background-color: #f7f7f7; }

.responsive-sidebar .form-sidebar,
#layout-side-panel {
  border-left: 1px solid #ddd; }

.fancy-layout .form-tabless-fields label {
  color: rgba(255, 255, 255, 0.7); }
.fancy-layout .form-buttons .btn {
  color: #ffffff;
  opacity: 0.7; }

.control-breadcrumb + .layout-row > .fancy-layout {
  margin-bottom: 0; }
