$color-primary: #7CD8A9;

$color-navbar: #FFF;
$color-navbar-background: #FFF;
$color-navbar-text-color: #8b8b8b;
$color-navbar-text-color-hover: darken($color-navbar-text-color, 20%);
$color-navbar-hover: #EEE;
$color-navbar-hover-color: darken($color-navbar-text-color, 20%);
$color-navbar-highlight-background: $color-navbar-background;
$color-navbar-highlight-text: $color-navbar-text-color;
$color-navbar-border: #ddd;

$color-accountmenu: #fff;
$color-accountmenu-text-color: darken($color-accountmenu, 40%);

$color-sidenav: #FFF;
$color-sidenav-icon: $color-navbar;
$color-sidenav-hover: $color-primary;
$color-sidenav-background: #2e2d33;
$color-sidenav-background-hover: lighten($color-sidenav-background, 3%);
$color-sidenav-group-background: $color-sidenav-background;
$color-sidenav-group-background-collapsed: darken($color-sidenav-background, 3%);
$color-sidenav-group-text: #fff;

$color-fancy-form-label: rgba(255, 255, 255, 0.7);

@import "../../base";