$color-primary: #9B3C09;

$color-navbar: darken($color-primary, 20%);
$color-navbar-background: darken($color-primary, 20%);
$color-navbar-text-color: #FF8F51;
$color-navbar-hover: darken($color-navbar, 10%);
$color-navbar-hover-color: darken($color-navbar-text-color, 20%);
$color-navbar-highlight-background: $color-navbar-background;
$color-navbar-highlight-text: $color-navbar-text-color;
$color-navbar-border: $color-navbar-text-color;

$color-accountmenu: #fff;
$color-accountmenu-text-color: darken($color-accountmenu, 40%);

$color-sidenav: #FF8F51;
$color-sidenav-icon: $color-sidenav;
$color-sidenav-hover: darken($color-primary, 10%);
$color-sidenav-background: $color-primary;
$color-sidenav-background-hover: lighten($color-sidenav-background, 20%);
$color-sidenav-group-background: darken($color-primary, 10%);
$color-sidenav-group-background-collapsed: darken($color-primary, 5%);
$color-sidenav-group-header: $color-sidenav;
$color-sidenav-group-text: $color-sidenav;
$color-sidenav-group-icon: $color-sidenav-group-header;

$color-fancy-form-label: rgba(255, 255, 255, 0.7);

@import "../../base";